<h1>Beer Reviews</h1>

<p><a href="/reviews/<%=@beer.id%>/new">Add a new Review</a></p>

<% @reviews.each do |review| %>

<p>Name: <%=@beer.name%></p>
<p>Date: <%=review.date%></p>
<p>Summary: <%=review.summary%></p>
<p><a href="/reviews/<%=review.id%>/show">Click to See Full Review</a></p>
<p><a href="/reviews/<%=review.id%>/edit">Click to Edit</a></p>
<form action="/reviews/<%=review.id%>" method="post">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Review">
</form>


<p></p>
<% end %>