<h2>Your Review</h2>

<p>Name: <%=@beer.name%></p>
<p>Date: <%=@review.date%></p>
<p>Summary: <%=@review.summary%></p>
<p>Review: <%=@review.review%></p>

<p><a href="/reviews/<%=@review.id%>/edit">Click to Edit</a></p>
<form action="/reviews/<%=@beer.id%>" method="post">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Review">
</form>

